<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
 

  <div class="form-group mb-4">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group mb-4">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group mb-4">
    <%= form.label :cuisine %>
    <%= form.text_field :cuisine, class: "form-control" %>
  </div>

  <div class="form-group mb-4">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group mb-5">
    
    <%= form.label :photo, "Choose Photo" %> 
    <%= form.file_field :photo, class: "form-control" %>
    
    <% if @restaurant.photo.present? %>
    <% image_tag @restaurant.photo.thumb.url, class:"mt-4" %>
    <% end %>
  </div>
    
  <div class="actions" class: "form-group mb-4">
  <%= form.submit%>
  </div>
<% end %>